= simple_form_for @dipendente, :html => {:class => 'form-horizontal' } do |f| 
  = f.input :nome, :input_html => { :autofocus => true }
  = f.association :ruolo
  .control-group
    .controls
      = f.button :submit, 'Salva', class: "btn btn-primary btn-large"
