= simple_form_for @ruolo, :html => {:class => 'form-horizontal' } do |f| 
  = f.input :nome, label: 'Ruolo'
  %hr
  .control-group
    .controls
      = f.button :submit, 'Salva', class: "btn btn-primary btn-large"


